@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab");

:root {
	--background: #f4f1de;
	--foreground: #3d405b;
	--accent1: #e07a5f;
	--accent2: #f2cc8f;
	--accent3: #81b29a;
}

::selection {
	background-color: var(--foreground);
	color: var(--background);
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--foreground);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--accent1);
}

::-webkit-scrollbar-track {
	background-color: var(--accent2);
}

::-webkit-scrollbar-corner {
	background-color: var(--background);
}

* {
	margin: 0;
	border: 0;
	padding: 0;

	font-family: "Oswald";
	font-weight: 400;
}

body {
	padding: 20px;

	background-color: var(--background);
	color: var(--foreground);
}

a {
	display: block;
	width: fit-content;
	padding-right: 50px;

	color: var(--foreground);
	text-decoration: none;
}

a:hover,
a:focus {
	outline: none;
	color: var(--accent1);
}

a:hover::selection,
a:focus::selection {
	background-color: var(--accent1);
	color: var(--background);
}

a i {
	transition: translate 0.5s;
}

a:hover i,
a:focus i {
	translate: 10px;
}

h1 {
	font-size: 128px;
}

h2 {
	color: var(--accent3);
	font-size: 64px;
	font-weight: 500;
}

h2::selection {
	background-color: var(--accent3);
	color: var(--background);
}

h3 {
	font-size: 48px;
}

h4 {
	font-size: 32px;
}

h5,
a,
p,
b {
	font-size: 24px;
}

h6,
textarea,
td {
	font-size: 16px;
}

textarea {
	margin: 20px 0 20px 0;
	border: 3px solid var(--foreground);
	padding: 5px 5px 0 5px;

	font-family: "Roboto Mono";
	background-color: var(--background);
	caret-color: var(--foreground);
	color: var(--foreground);

	resize: none;
	outline: none;
}

textarea::placeholder {
	color: var(--accent3);
}

table {
	margin: 20px 0 20px 0;
	border: 3px solid var(--foreground);
	border-collapse: collapse;
}

tr:first-child {
	background-color: var(--accent2);
}

tr:first-child td::selection {
	color: var(--accent2);
}

td {
	border: 3px solid var(--foreground);
	padding: 5px 15px 5px 15px;

	font-family: "Roboto Mono";
}

span:not(#articulated_plural, #info_plural) {
	font-weight: 500;
}

#to_top_button {
	width: 50px;
	height: 50px;

	border-radius: 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	right: 50px;
	bottom: 50px;

	font-size: 24px;

	background-color: var(--foreground);
}

#to_top_button:hover {
	background-color: var(--accent1);
	cursor: pointer;
}

#to_top_button i {
	color: var(--background);
}
